input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  padding-left: 22px;
}

/* f00c */

[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 15%;
  transition: border-color .2s;
}

input[type="checkbox"]:focus + label::before,
input[type="checkbox"]:active + label::before {
  border-color: rgba(255, 255, 255, .8);
}

[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
  font: normal normal normal 10px/1 FontAwesome;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-4px);
  content: "\f00c";
  margin-right: 10px;
  transition: all .2s;
}

input[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
  transform: translateY(-4px) scale(0);
}

input[type="checkbox"]:checked + label::after {
  /* content: "\f058"; */
  opacity: 1;
  transform: translateY(-4px) scale(1);
}