@import 'styles/vars.scss';

html,
input,
button {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $root-color;
  font-size: $root-font + px;
}

a {
  color: $root-color;
  text-decoration: none;

  &:focus {
    outline: none;
    text-decoration: underline;
  }

  &:hover {
    text-decoration: underline;
  }
}

.app-container {
  $grey: #43464B;
  $green: #19AA8D;
  $blue: #029ED7;
  $purple: #3D2C62;

  background-color: $bg-color;
  min-width: 300px;

  //themes 
  &--grey {
    background-color: $grey;

    .button:not(.button--facebook) {
      color: $grey;
    }

    .divider {
      &-or {
        background-color: $grey;
      }
    }
  }

  &--green {
    background-color: $green;

    .button:not(.button--facebook) {
      color: $green;
    }

    .divider {
      &-or {
        background-color: $green;
      }
    }
  }

  &--blue {
    background-color: $blue;

    .button:not(.button--facebook) {
      color: $blue;
    }

    .divider {
      &-or {
        background-color: $blue;
      }
    }
  }

  &--purple {
    background-color: $purple;

    .button:not(.button--facebook) {
      color: $purple;
    }

    .divider {
      &-or {
        background-color: $purple;
      }
    }
  }
}

.text {
  &-smaller {
    font-size: to-rem(14);
  }

  &-bigger {
    font-size: to-rem(20);
  }

  &-right {
    text-align: right;
  }
}

.float-right {
  float: right;
}

.centered {
  margin: 0 auto;
}

.inline {
  display: inline-block;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.v-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.flex-column {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $break-large) {
    height: inherit;
    justify-content: center;
  }
}

.container {
  max-width: 1000px;
  /* min-width: 400px; */
  height: 100vh;
}

.login-row {
  height: to-rem(500);
}

.block {
  max-width: to-rem(300);
  width: 100%;
}

.login {
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 3px;
  padding: to-rem(15);
  max-width: to-rem(380);

  @media only screen and (min-width: $break-small) {
    padding: to-rem(50) to-rem(35);
  }
}

.login-header {
  margin-top: 0;
}

.welcome-banner {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: to-rem(40);
  text-align: center;
  margin: to-rem(16) 0 0;

  @media only screen and (min-width: $break-large) {
    font-size: to-rem(56);
    text-align: left;
  }
}
